# Code to Clean the Raw Twitter Data

## Import Packages and Files

In [85]:
#import necessary packages
import pandas as pd
import re
from datetime import datetime

In [86]:
#import raw twitter data
file_location = 'C:/Users/pkhu624/OneDrive - The University of Auckland/399/KeywordFromLocation/solution.csv'
Location_tweets = pd.read_csv('solution.csv')
display(Location_tweets)

#import a list of locations and their latitude/longitude as a reference dataframe
map_data=pd.read_csv('position.csv')
display(map_data)

#Keyword Extraction file
Keyword_Extraction_Location = 'C:/Users/pkhu624/OneDrive - The University of Auckland/399/Insta+FB/Keywords Extraction Analysis.csv'
extraction_df = pd.read_csv(Keyword_Extraction_Location)

,Unnamed: 0,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe,bookmarkCount,Location
0,0,https://twitter.com/mwilcox/status/16628627985...,2023-05-28 16:46:00+00:00,@afterveil 21e8effect,@afterveil 21e8effect,1662862798542495750,"{'username': 'mwilcox', 'id': 8720422, 'displa...",0,0,1,...,"[{'username': 'afterveil', 'id': 1036681245286...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,"-36.85382324, 174.7591066, 5km"
1,1,https://twitter.com/Olympaoo/status/1662862795...,2023-05-28 16:45:59+00:00,@judeaoh Taste.,@judeaoh Taste.,1662862795812028420,"{'username': 'Olympaoo', 'id': 142326850584836...",0,0,1,...,"[{'username': 'judeaoh', 'id': 133162184021789...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,"-36.85382324, 174.7591066, 5km"
2,2,https://twitter.com/Olympaoo/status/1662862772...,2023-05-28 16:45:54+00:00,‚ÑêùìÉùìàùìâùí∂‚Ñäùìáùí∂ùìÇ\n----------------\nüìå/Olympic\n\nüì∏4 ...,‚ÑêùìÉùìàùìâùí∂‚Ñäùìáùí∂ùìÇ\n----------------\nüìå/Olympic\n\nüì∏4 ...,1662862772231708674,"{'username': 'Olympaoo', 'id': 142326850584836...",0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,"-36.85382324, 174.7591066, 5km"
3,3,https://twitter.com/BharatiyaJummla/status/166...,2023-05-28 16:45:40+00:00,"@alamgirizvi When india is not part of G7, why...","@alamgirizvi When india is not part of G7, why...",1662862717391077376,"{'username': 'BharatiyaJummla', 'id': 15366586...",0,0,0,...,"[{'username': 'alamgirizvi', 'id': 191376204, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,"-36.85382324, 174.7591066, 5km"
4,4,https://twitter.com/mrustok/status/16628625108...,2023-05-28 16:44:51+00:00,"Have a Lion, WIP for @DaxIsVaxxed \n\n#furries...","Have a Lion, WIP for @DaxIsVaxxed \n\n#furries...",1662862510855438337,"{'username': 'mrustok', 'id': 1283895112238395...",0,0,0,...,"[{'username': 'DaxIsVaxxed', 'id': 15806047790...",NaN,NaN,"['furries', 'furryart']",NaN,NaN,2.0,NaN,0,"-36.85382324, 174.7591066, 5km"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174310,495,https://twitter.com/andrealala89/status/118533...,2019-10-18 23:10:30+00:00,Living in paradise ‚úåÔ∏è\n\n[I am walking on the ...,Living in paradise ‚úåÔ∏è\n\n[I am walking on the ...,1185332354811777025,"{'username': 'andrealala89', 'id': 42097308, '...",0,0,0,...,NaN,"{'longitude': 174.45, 'latitude': -36.8167}","{'id': '0022e3c837579650', 'fullName': 'Auckla...",NaN,NaN,NaN,NaN,NaN,0,"-36.83492265, 174.4274484, 5km"
174311,496,https://twitter.com/_schnee_/status/1185299190...,2019-10-18 20:58:43+00:00,Last night headed out to Muriwai to try out a ...,Last night headed out to Muriwai to try out a ...,1185299190852681728,"{'username': '_schnee_', 'id': 51494313, 'disp...",1,0,1,...,NaN,"{'longitude': 174.45, 'latitude': -36.8167}","{'id': '0022e3c837579650', 'fullName': 'Auckla...",NaN,NaN,NaN,NaN,NaN,0,"-36.83492265, 174.4274484, 5km"
174312,497,https://twitter.com/mattsotherbrain/status/118...,2019-10-12 20:30:50+00:00,Lots of UX people will relate to this: Why mat...,Lots of UX people will relate to this: Why mat...,1183117847653994506,"{'username': 'mattsotherbrain', 'id': 74733888...",0,0,0,...,NaN,"{'longitude': 174.343141, 'latitude': -36.892235}","{'id': '014619332dbaf417', 'fullName': 'Muriwa...",NaN,NaN,NaN,NaN,NaN,0,"-36.83492265, 174.4274484, 5km"
174313,498,https://twitter.com/Louisepoppy/status/1182914...,2019-10-12 07:01:18+00:00,Saturday went from this to this to this - coul...,Saturday went from this to this to this - coul...,1182914121613733890,"{'username': 'Louisepoppy', 'id': 29171436, 'd...",0,1,20,...,NaN,"{'longitude': 174.343141, 'latitude': -36.892235}","{'id': '014619332dbaf417', 'fullName': 'Muriwa...","['travel', 'slowtravel', 'SaturdayVibes', 'new...",NaN,NaN,NaN,NaN,0,"-36.83492265, 174.4274484, 5km"
174314,499,https://twitter.com/smslyons/status/1180335155...,2019-10-05 04:13:25+00:00,Our ‚Äúwhite mischief‚Äù oversaw the tasting and b...,Our ‚Äúwhite mischief‚Äù oversaw the tasting and b...,1180335155652780032,"{'username': 'smslyons', 'id': 53589835, 'disp...",1,0,0,...,NaN,"{'longitude': 174.45, 'latitude': -36.8167}","{'id': '0022e3c837579650', 'fullName': 'Auckla...","['crowdblend', 'crowdblend2019']",NaN,NaN,NaN,NaN,0,"-36.83492265, 174.4274484, 5km"

                  Area Unit                     Position
0    Auckland Central West.  (-36.85382324, 174.7591066)
1          Manukau Central.  (-37.01250711, 174.8465444)
2     Auckland Harbourside.  (-36.84439733, 174.7675342)
3    Auckland Central East.  (-36.84911991, 174.7739217)
4          Henderson South.  (-36.88925468, 174.6395727)
..                      ...                          ...
378             Stillwater.  (-36.63841829, 174.7189091)
379                  Omaha.  (-36.33890858, 174.7773456)
380            Shelly Park.  (-36.90794005, 174.9447428)
381             Kumeu West.  (-36.75623544, 174.5083502)
382          Muriwai Beach.  (-36.83492265, 174.4274484)

[383 rows x 2 columns]

## Preprocessing

In [87]:
#keep only unique tweets in dataset
unique_count = Location_tweets['rawContent'].nunique()
Location_tweets = Location_tweets.drop_duplicates(subset='rawContent')

#Use to drop columns from original dataset. 
cols_to_drop = ['Unnamed: 0', 'url', 'id', 'user', 'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links', 'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId', 'inReplyToUser', 'mentionedUsers', 'card', 'vibe', 'bookmarkCount', 'place', 'renderedContent', 'cashtags']
Location_tweets.drop(cols_to_drop, axis=1, inplace=True)

#Get tweets that occured only after 2022
Location_tweets['date'] = pd.to_datetime(Location_tweets['date'])
Location_tweets = Location_tweets[Location_tweets['date'].dt.year > 2021]

#change strings to lower 
Location_tweets['rawContent'] = Location_tweets['rawContent'].str.lower()
Location_tweets['hashtags'] = Location_tweets['hashtags'].str.lower()

## Specify Functions used to process Dataframe

In [88]:
#Function to only keep rows of dataframe that contains a location
def recognise_text(targetwords, dataframe, columns):
    #create a new dataframe instane
    filtered_dataframe = pd.DataFrame()
    
    for column in columns:
        # Use boolean indexing to filter rows containing any of the locations
        mask = dataframe[column].str.contains('|'.join(targetwords), case=False, na=False)
        
        #append the row that contains location to the new dataframe instance
        filtered_dataframe = filtered_dataframe.append(dataframe[mask])
    
    return filtered_dataframe

## Use Functions to Filter Incident Type

In [89]:
#arguments to be passed into functions
columns_to_search = ['rawContent', 'hashtags']

#incident types
fire = (extraction_df.iloc[:,0].dropna()).tolist()
flood = (extraction_df.iloc[:,1].dropna()).tolist()
storm = (extraction_df.iloc[:,2].dropna()).tolist()
landslide = (extraction_df.iloc[:,3].dropna()).tolist()
harass = (extraction_df.iloc[:,4].dropna()).tolist()
battery = (extraction_df.iloc[:,5].dropna()).tolist()
theft = (extraction_df.iloc[:,6].dropna()).tolist()
burglary = (extraction_df.iloc[:,7].dropna()).tolist()
robbery = (extraction_df.iloc[:,8].dropna()).tolist()
sexual_assault = (extraction_df.iloc[:,9].dropna()).tolist()

In [90]:
# find the rows that contain a recognised incident
filtered_fire = recognise_text(fire, Location_tweets, columns_to_search)
filtered_flood = recognise_text(flood, Location_tweets, columns_to_search)
filtered_storm = recognise_text(storm, Location_tweets, columns_to_search)
filtered_landslide = recognise_text(landslide, Location_tweets, columns_to_search)
filtered_harass = recognise_text(harass, Location_tweets, columns_to_search)
filtered_battery = recognise_text(battery, Location_tweets, columns_to_search)
filtered_theft = recognise_text(theft, Location_tweets, columns_to_search)
filtered_burglary =recognise_text(burglary, Location_tweets, columns_to_search)
filtered_robbery =recognise_text(robbery, Location_tweets, columns_to_search)
filtered_sexual_assault = recognise_text(sexual_assault, Location_tweets, columns_to_search)

#Add incident type to the rows 
filtered_fire['Incident'] = 'Fire'
filtered_flood['Incident'] = 'Flood'
filtered_storm['Incident'] = 'Storm'
filtered_landslide['Incident'] = 'Landslide'
filtered_harass['Incident'] = 'Harassment'
filtered_battery['Incident'] = 'Battery'
filtered_theft['Incident'] = 'Theft'
filtered_burglary['Incident'] = 'Burglary'
filtered_robbery['Incident'] = 'Robbery'
filtered_sexual_assault['Incident'] = 'Sexual Assault'


#concatonate rows into one combined dataframe
filtered_df = pd.concat([filtered_fire, filtered_landslide, filtered_flood, filtered_storm, filtered_harass, filtered_battery, filtered_sexual_assault, filtered_theft, filtered_burglary, filtered_robbery])

## Mapping location to Area Unit

In [91]:
#Change columns to name to be in the same format 
new_column_names = {'date': 'Date', 'rawContent': 'Content','replyCount':'Comments','retweetCount':'Forward','likeCount':'Like'}
final_df = filtered_df.rename(columns=new_column_names)

pattern = r'\((.*?)\)'  # Regular expression pattern to match content inside parentheses
column_to_extract = 'Position'  # Column name to extract data from

# Apply regular expression matching and extract data inside parentheses
map_data[column_to_extract] = map_data[column_to_extract].apply(lambda x: re.findall(pattern, x)).apply(' '.join)
map_data['Area Unit'] = map_data['Area Unit'].apply(lambda x: x[:-1])
map_data

final_df.Location = final_df.Location.apply(lambda x: x.split(',')[:-1]).apply(','.join)
final_df

final_df = final_df.merge(map_data, left_on='Location', right_on='Position', how='left')
final_df

final_df[['Longitude', 'Latitude']] = final_df['Location'].str.split(',', expand=True)

## Reformatting Dataframe Structure

In [92]:
#Change date to be in the same format as all other clean datasets
final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df['date'] = final_df['Date'].dt.date
final_df['Hour'] = final_df['Date'].dt.strftime('%I:%M %p')
final_df['Occurrence Day Of Week'] = final_df['Date'].dt.strftime('%a')
final_df

#Reorder the columns to match other clean datasets
new_order = ['Hour', 'Occurrence Day Of Week', 'Incident', 'Area Unit', 'date', 'Date', 'Content', 'Comments', 'Forward', 'Like', 'Location',
         'Position', 'Longitude', 'Latitude']

# Reorder columns using reindex function
final_df = final_df.reindex(columns=new_order)

# Drop columns used to extract longitude/latitude and Area Unit
final_df.drop(['Location', 'Position', 'Date', 'Content'], axis=1, inplace=True)
final_df

# Rename columns to match names of other datasets
new_column_names = {'date': 'Date', 'Longitude': 'Latitude', 'Latitude': 'Longitude'}
final_df = final_df.rename(columns=new_column_names)
final_df

final_df['Number of Victimisations'] = 1

new_order = ['Hour', 'Occurrence Day Of Week', 'Incident', 'Area Unit', 'Date',
       'Comments', 'Forward', 'Like', 'Number of Victimisations', 'Latitude', 'Longitude']


# Reorder columns using reindex function
final_df = final_df.reindex(columns=new_order)

#drop unnecessary columns
cols_to_drop = ['Comments', 'Forward', 'Like'] 
final_df.drop(cols_to_drop, axis=1, inplace=True, )

## Saving Clean Data

In [94]:
# Save the Dataframe to a CSV file
final_df.to_csv('Clean Twitter Data.csv', index=False)
display(final_df)

,Hour,Occurrence Day Of Week,Incident,Area Unit,Date,Number of Victimisations,Latitude,Longitude
0,04:44 PM,Sun,Fire,Auckland Central West,2023-05-28,1,-36.85382324,174.7591066
1,04:28 PM,Sun,Fire,Auckland Central West,2023-05-28,1,-36.85382324,174.7591066
2,04:02 PM,Sun,Fire,Auckland Central West,2023-05-28,1,-36.85382324,174.7591066
3,04:02 PM,Sun,Fire,Auckland Central West,2023-05-28,1,-36.85382324,174.7591066
4,03:55 PM,Sun,Fire,Auckland Central West,2023-05-28,1,-36.85382324,174.7591066
...,...,...,...,...,...,...,...,...
2418,06:30 PM,Thu,Robbery,Kaukapakapa,2022-09-22,1,-36.62285959,174.4961878
2419,07:34 PM,Fri,Robbery,Kaukapakapa,2022-04-01,1,-36.62285959,174.4961878
2420,05:09 PM,Sun,Robbery,Kaukapakapa,2022-02-13,1,-36.62285959,174.4961878
2421,06:40 PM,Mon,Robbery,Kaukapakapa,2022-01-31,1,-36.62285959,174.4961878
2422,07:23 PM,Wed,Robbery,Kaukapakapa,2022-01-26,1,-36.62285959,174.4961878